.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 375px;
  width: 99%;
  margin: 0 auto;
}

.btn {
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.33rem;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin: 0.4rem 0;
}

.btn:hover {
  background: seagreen;
}

.input {
  margin: 0.4rem 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.33rem;
  font-size: 20px;
  border-radius: 7px 7px 0 0;
  border: none;
  border-bottom: 3px solid #ccc;
  background: white;
}

.add-name {
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.add-name:hover {
  background: #444;
}

.add-name-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
