.btn-group {
  display: flex;
  justify-content: space-evenly;
  max-width: 375px;
}
.btn {
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  padding: 0.33rem;
  width: 100px;
  cursor: pointer;
}

.yes-btn {
  background: green;
}

.yes-btn:hover {
  background: seagreen;
}

.no-btn {
  background: #333;
}

.no-btn:hover {
  background: #444;
}
