.navbar {
  background: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.flex-container {
  height: 3rem;
  max-width: 1080px;
  width: 95%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.branding {
  color: white;
  font-style: oblique;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-link-item {
  padding: 1rem;
}

.nav-link-text {
  color: white;
  text-decoration: none;
}
